@import './custom';

body {
  margin: 0;
  font-family: "Google Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.modal-open {
  padding-right: 0 !important;
}

.navbar .dropdown-toggle::after {
  display: none !important;
}

.navbar .dropdown-toggle::before {
  display: none !important;
}

.fade-img {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.fade-img.is-loaded {
  opacity: 1;
}