.card {
    position: relative;
}

/* default (image left, overlay right) */
.image-wrapper {
    width: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.card-overlay {
    position: absolute;
    top: 50%;
    left: 66.666%;
    transform: translate(-45%, -50%);
}

/* The translucent panel itself */
.overlay-panel {
    background: rgba(94, 94, 94, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0.75rem;
    color: white;
    min-width: 180px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    width: 55vw;
    max-width: 320px;
}